
body {
  margin: 0;
  padding: 0;
  background-color: green;
}
h1 {
  font-family: Impact;
  font-size: 5rem;
  text-shadow: 5px 5px 0px Red;
  color:
}

li {
  background-color: gray;
  color: White;
}
a {
  display: block;
  padding: 8px;
  background-color:black;
  color: white;
}
span {
  background-color: red;
  color:black;
}
