
body {
  margin: 0;
  padding: 0;
  background-color: green;
  width: 100vw;
  height: 100vh;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
h1 {
  font-family: Impact;
  font-size: 5rem;
  text-shadow: 5px 5px 0px Red;
  color: white;
  text-align: center;
  padding: 1rem;
    margin: 0;
    background-color: black;
}
h2 {
    font-style: italic, bold;
    color: lightgreen;
    font-family: arial;
    text-shadow: 4px 4px 0px darkolivegreen;
    font-size: 3rem;
    text-align: center;

}

img {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
p {
    font-family: arial;
    font-size: 18px;
    
}

li {
  background-color: darkgray;
  color: White;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}
a {
  display: inline-block;
  padding: 8px;
  background-color:black;
  color: white;
}
a:hover {
    background-color: red;
    color: black;
}
a:current {
    background-color: red;
    color: black;
}
*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

#app{
    width: 100%;
    height: 100%;
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;

}

.door{
    background: #fafafa;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
    width: 100px;
    height: 150px;
    overflow: hidden;
    border-radius: 1ex;
    margin: 1ch;

}

.boxes {
    transition: transform 1s ease-in-out;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.buttons {
    margin: 1rem 0 2rem 0;

}

button {
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0.2rem 0 0.2rem;
}

.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;;
}
